<html>
 	<head>
 		<meta content='text/html; charset= UTF-8' http-equiv='Content-Type'/>
 	</head>
 	<body>
 		<p> Hey <%= @user.first_name %></p>
 		<p>
 			Welcome to our club! Its time for Washignton to hear your voice.
 		</p>
 		<p> 
 			Support us at <%= @url %>
 		</p>
 	</body>
</html>