<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Name: &nbsp;&nbsp;<%= @contact.name %><br> 
      Contact Email: &nbsp;&nbsp;<%= @contact.email %> 
    </p>
    <p>
      Message:<br><br>
      <%= @contact.content %>
    </p>
  </body>
</html>