<footer>
  <div class="container-fluid text-center">
    <div class='row'>
      <div class='col-xs-4'>
        <ul style="list-style-type:none">
          <li>
            <%= link_to "About Us", "/pages/about", style: 'color: #fff; font-size: 20px;' %>
          </li>
          <li>
            <%= link_to "Volunteer", "/pages/volunteer", style: 'color: #fff; font-size: 20px;' %>
          </li>
        </ul>
      </div>
      <div class='col-xs-4'>
        <p>Copyright &copy; NYMVIC 2016</p>
      </div>
      <div class='col-xs-4'>
        <p> Follow Us</p>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/nymvic" class="btn-social btn-outline"><i class="fa fa-twitter fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/NYMVIC/info?tab=page_info" class="btn-social btn-outline"><i class="fa fa-facebook fa-fw"></i></a>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</footer>