<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<!-- Navbar -->
	<%= render 'navbar'%>	
	<section id="about" class="container content-section text-center">
		<div class='row'>
			<h1>WELCOME TO NYMVIC!</h1>
			<p>The more people that join, the faster we become a strong legitimate voice in NY politics. It’s about time!</p><br><br>
		</div>
		<div class= 'row'>
			<div class= 'col-sm-6'>
				<h4>What is NYMVIC and why was it created?</h4>
				<p>NYMVIC – the New York Muslim Voter and Information Club - was created to fill a void in the absence of a political voice for the New York City (“NYC”) and New York State (“NY”) Muslim population. Our American history has proven the best way to get the political voice of a group active and engaged is to educate its constituents about the democratic process. There are hundreds of thousands of US Muslim citizens in NYC alone, and approximately one million Muslims in NY representing a variety of heritages and languages whose voice has gone mostly unheard in NY politics.</p>
			</div>
			<div class= 'col-sm-6'>	
				<h4>How will NYMVIC help NY Muslims, our city and state? (Mission Statement):</h4>
				<p>NYMVIC will help qualified US citizens register to vote, and provide a forum for all members to learn about the issues and the news makers that most affect their communities in NY and beyond. By educating voters on the issues that affect NY, NYMVIC hopes to raise the level of political awareness, participation and civic engagement in the NY democratic political and election process.</p>
			</div>
			
		</div><br>
		<div class='row'>
			<div class='col-sm-6'>
				<h4>What has NY Muslim political engagement in the past looked like?</h4>
				<p>The NYC Council has had only one Muslim member elected in its history (Robert Jackson), and NY has never had a Muslim State Senator or Assembly member elected. While Muslims have established themselves alongside other communities and over generations in the professional, commercial, financial and social fiber and leadership in NY, they have yet to significantly effect and impact political decision-making. Their lack of political involvement and a voice had led to poor, misinformed, and inaccurate representations of Muslims by elected officials, and many in political and municipal administrations, but most strikingly when Muslims needed their representatives to stand up for their basic constitutional liberties, civil rights and American ideals.</p>
			</div>
			<div class='col-sm-6'>
				<h4>How will NYMVIC address the misrepresentation of NY Muslims?</h4>
				<p>The inaccurate portrayal of Muslims has too often led to anti-Muslim public sentiment. NY elected officials, groups and individuals have unilaterally represented the positions of NY Muslims without objectively surveying their opinions or perceptions on issues that directly impact them, hence, creating erroneous impressions against Muslims for public and media exploitation. NYMVIC will periodically and scientifically survey members on current events, via questionnaire, to help ensure that NY Muslim opinion and sentiment is accurately represented in the public sphere.</p>
			</div>
		</div><br>
		<div class='row'>
			<div class='col-sm-6'>		
				<h4>How can I help?</h4>
				<p>Simple… JOIN… and get your interested friends to join... the more, the better. There is no admission fee. </p>
			</div>
			<div class= 'col-sm-6'>
				<h4>Why should I join?</h4>
				<p>By joining NYMVIC, we can create a platform that helps to educate our community on healthy and informed political engagement and grow a strong voice in NY politics. We will also be able to offer accurate NY Muslim perception on issues that affect us by answering simple question(s) that are asked by NYMVIC on an as needed basis. No matter what your language, ethnic background, nationality, color, gender, political affiliation, degree of religious observation, or political views - as long as you agree, with the intent to constructively and respectfully participate in the best interest of this organization and its mission statement, you are welcome to join.</p>
			</div>
		</div><br>
		<div class= 'row'>
			<div class='col-sm-6'>	
				<h4>If it is free, why is there a donate button?</h4>
				<p>An idea is just the first step and there are many more left to take to ensure MYMVIC represents the needs of Muslim voters . With your support we will be able to provide full-time staff dedication to tracking, reporting and explaining issues that are near and dear to our community.</p>
			</div>
			<div class= 'col-sm-6'>	
				<h4>Who runs NYMVIC?</h4>
				<p>NYMVIC board members will be comprised of representatives of many of the largest Muslim organizations and individuals regarded as respected “leaders” in NY. A democratic internal process determines its leadership. Together, they select the issues and newsmakers to discuss based on current events and need.</p>
			</div>
		</div>
	</section>	
	<%= render 'footer'%>
</body>