<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<%= render 'navbar'%>
	<section class= 'container content-section text-center'>
		<h4>NYMVIC NEEDS VOLUNTEERS!</h4>
		<%= image_tag "volunteer.jpg", size: '500x500', :class=> "img-responsive center-block" %><br>
		<p>Take a More Active Role In Your CommunityAnd Get Involved With NYMVIC To Empower Your Community.If You Want To Volunteer, Please Text Naji Almontaser at 917-559-8485.</p>	
	</section>
	<%= render 'footer'%>
</body>