<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars" style="color: #fff;"></i>
      </button>
      <%= link_to 'NYMVIC', root_path, class: "navbar-brand page-scroll" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to 'Home', root_path, class: 'page-scroll' %>
        </li>
        <li>
          <%= link_to 'Our Mission', '/pages/about'%>
        </li>
        <li>
          <%= link_to 'Contact Us', '/contacts/new' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>