<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Asalaamu Alaykum <%= @user.first_name %>, </h5>
    <p>Tomorrow our Muslim community is meeting with congressman Keith Ellison from 12pm to 1:30pm at <b>Joy Restuarant(2nd floor) 148 east 46th street New York, NY.</b></p>
    <p>Come and meet our first Muslim congressman in the USA.</p>
    <p>Also don't forget to signup for our membership. Together we can make a difference. For more info visit <a href="https://nymvic.org/">nymvic.org</a>.</p> 
    <p>Have a great day!</p><br>
    <p>Regards,</p>
    <p>Your Brother in Islam Naji Almontaser</p>
  </body>
</html>