<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>, </h1>
    <p>
      This is a friendly reminder. Don't forget to complete your voter registration form if you haven't done so and don't forget to vote in the presedential election on Novemver 6.<br>
    </p>
    <p>
      We need your help too. Support us by donating at <%= @url %> and be a part of the family.
    </p>
    <p>Have a great day!</p>
  </body>
</html>