<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to NYMVIC, <%= @user.name %></h1>
    <p>
      Thank you for joining us. Its time for Washington to hear your voice. We will represent you proudly.<br>
    </p>
    <p>
      We need your help too. Support us by donating at <%= @url %> and be a part of the family.
    </p>
    <p>Have a great day!</p>
  </body>
</html>