<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Welcome to NYMVIC <%= @user.first_name %>, </h5>
    <p>
      Thank you for joining us. <br><br>
      Its time for Washington to hear your voice. We will represent you proudly.<br><br>
    </p>
    <p>
      We need your help too. Support us by donating at <%= @url %> and be a part of the family.
    </p><br><br>
    <p>
      Have a great day!
    </p>
  </body>
</html>