@import "bootstrap-sprockets";
@import "bootstrap";


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    color:#b30000;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}

a {
    color: #F80000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #ffb833;
}

/******** NavBar *********/

.navbar-custom {
    margin-bottom: 0;
    padding: 5px 0 5px 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#000;
}


.navbar-custom .navbar-brand {
    font-weight: 800;
    font-size: 35px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    font-size: 14px;
    color: #F80000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #F80000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color:#ffb833;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color:rgba(255,255,255, .6);
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a:hover {
    color: #F80000;
}

.navbar-custom .dropdown .dropdown-menu {
    background-color: #000;
}

.navbar-custom .dropdown-menu a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F80000;   
}

.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color:#ffb833;
    background-color: rgba(255,255,255,.6);
}

@media(min-width:1068px) {
    .navbar-custom {
        padding: 30px 0 5px 0;
        border-bottom: 0;
        font-size: 16px;
        letter-spacing: 1px;
        background: #000;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .navbar-custom .navbar-brand {
        font-weight: 800;
        font-size: 40px;
    }
}

/********* NavBar End ***********/

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: image-url('vote.jpg');
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #ff811a;
    /* WebKit */
    -webkit-background-size: 75% 100%;
    /* Firefox */
    -moz-background-size: 75% 100%;
    /* Opera, later Google Chrome */
    background-size: 75% 100%;
    -o-background-size: 75% 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 20px;
    width: 90%;
} 

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 30px;
    }
}

.btn-circle {
    width: 55px;
    height: 55px;
    padding: 7px 16px;
    border: 2px solid #F80000;
    border-radius: 100%!important;
    font-size: 30px;
    color: #F80000;
    background:rgba(255,255,255,.2);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #F80000;
    background: rgba(255,255,255,.7);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 75px;
    padding-bottom: 25px;
}

.voter-section {
    width: 100%;
    padding: 15px 0 15px 0;
    color: #fff;
    background-image: image-url('capitol.png');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact {
    margin-top: 50px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 170px;
        padding-bottom: 80px;
    }

    .voter-section {
        padding: 90px 0 90px;
    }

    #contact {
        margin-top: 100px;
    }
}

.btn {
    border-radius: 2;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #F80000;;
    color: #fff;
    background-color: #F80000;;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #F80000;;
    outline: 0;
    color: #F80000;;
    background-color: #fff;
}

/*********** footer buttons begin ***********/
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #F80000;
  background: #ffb833;
  border: solid 2px white;
}
.btn-social-footer {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
/********* footer buttons end ************/

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    color: #fff;
    background-color: #000;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.well-buttons{
    background-color: transparent;
    border-color: transparent;
    padding: 20px 0 20px 0;
}
/* button size grow animation */
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
}
/* end */

/************modal postion and animation*************/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}
/************** end *******************/ 

/********* Carousel Aimation *********/



.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/************ End ************/